.range {
    color: #ffffff;
    text-align: center;
}

.range-2 {
    background: #ED7203;
}

.range-4 {
    background: #FDE634;
    color: #06171E;
}

.range-6 {
    background: #E6332B;
}

.range-8 {
    background: #07A13B;
}

.range-10 {
    background: #0D9FE3;
}

.range-12 {
    background: #000000;
}
